= render "shared/header"

.flex-grow.p-6
  .flex.justify-between.items-center.mb-4
    %h1.text-lg.font-medium= t('.title')

  .w-full
    %table.w-full.caption-bottom.text-sm
      %thead{:class => "[&_tr]:border-b"}
        %tr.border-b.transition-colors{:class => "hover:bg-muted/50 data-[state=selected]:bg-muted"}
          %th.h-12.px-4.text-center.align-middle.font-medium.text-muted-foreground.text-slate-600
            =t('.headers.timeslots')
          %th.h-12.px-4.text-center.align-middle.font-medium.text-muted-foreground.text-slate-600
            =t('.headers.address')
          %th.h-12.px-4.text-center.align-middle.font-medium.text-muted-foreground.text-slate-600
            =t('.headers.visit_status')
          %th.h-12.px-4.align-middle.font-medium.text-muted-foreground.text-center.text-slate-600
            =t('.headers.client_name')
          %th.h-12.px-4.text-center.align-middle.font-medium.text-muted-foreground.text-slate-600

      %tbody{:class => "[&_tr:last-child]:border-0"}
        - @visits.each do |visit|
          %tr.border-b.transition-colors{:class => "hover:bg-muted/50 data-[state=selected]:bg-muted"}
            %td.p-4.align-center{:class => "[&:has([role=checkbox])]:pr-0"}= visit.timeslots
            %td.p-4.align-center{:class => "[&:has([role=checkbox])]:pr-0"}= visit.client.address
            %td.p-4.align-center{:class => "[&:has([role=checkbox])]:pr-0"}
              - random_value = rand(0..2)
              - tag_options = ['Sin Iniciar', 'Cancelada', 'Finalizada']
              - case tag_options[random_value]
              - when 'Cancelada'
                %span.px-2.py-1.bg-red-200.text-red-800.rounded-md
                  = "Cancelada"
              - when 'Sin Iniciar'
                %span.px-2.py-1.bg-blue-200.text-blue-800.rounded-md
                  = "Sin Iniciar"
              - when "Finalizada"
                %span.px-2.py-1.bg-green-200.text-green-800.rounded-md
                  = "Finalizada"
            %td.p-4.align-middle.text-center{:class => "[&:has([role=checkbox])]:pr-0"}= visit.client.full_name
            %td.p-4.align-middle{:class => "[&:has([role=checkbox])]:pr-0"}
              %button{"aria-controls" => "radix-:r#{visit.id}:", "aria-expanded" => "false", "aria-haspopup" => "dialog", "data-state" => "closed", :type => "button"}
