!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    = favicon_link_tag asset_path('favicon.ico')
    %title= t('title')

    %meta{:content => "width=device-width, initial-scale=1, height:device-height, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no ", :name => "viewport"}/

    -#%link{href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: "stylesheet"}

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application"
    = javascript_importmap_tags

  %body.bg-snow-storm-100
    %main
      = yield
      = render partial: 'shared/notifications', locals: { message: flash[:notice] }
      = render partial: 'shared/alerts', locals: { message: flash[:alert] }

